<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rank/no_heart_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,352},{329,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,72}</string>
			</dict>
			<key>guide/frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{562,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,183}</string>
			</dict>
			<key>rank/new_chapter_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,844},{297,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,77}</string>
			</dict>
			<key>rank/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,705},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>rank/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,305},{114,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,15}</string>
			</dict>
			<key>rank/lottery_watch_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,186},{432,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,181}</string>
			</dict>
			<key>rank/lottery_watch_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1},{349,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,79}</string>
			</dict>
			<key>rank/lottery_watch_tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,369},{303,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,46}</string>
			</dict>
			<key>pngdata/firstGift/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,369},{203,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,157}</string>
			</dict>
			<key>pngdata/firstGift/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,683},{155,74}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,74}</string>
			</dict>
			<key>pngdata/firstGift/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,438},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>pngdata/firstGift/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,438},{164,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,167}</string>
			</dict>
			<key>pngdata/firstGift/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,705},{114,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,118}</string>
			</dict>
			<key>pngdata/firstGift/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,844},{115,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,119}</string>
			</dict>
			<key>pngdata/firstGift/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,867},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/firstGift/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,997},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>rank/back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{121,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,123}</string>
			</dict>
			<key>rank/f_rank_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,674},{289,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,32}</string>
			</dict>
			<key>rank/no_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,683},{159,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,183}</string>
			</dict>
			<key>rank/imggifticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{342,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,302}</string>
			</dict>
			<key>rank/btn_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{259,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,131}</string>
			</dict>
			<key>rank/gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,369},{179,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,179}</string>
			</dict>
			<key>rank/star_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,528},{144,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,145}</string>
			</dict>
			<key>sign/get.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,844},{237,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,96}</string>
			</dict>
			<key>rank/close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,305},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>rank/coming_soon.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,997},{237,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,24}</string>
			</dict>
			<key>rank/gift_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,362},{61,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,25}</string>
			</dict>
			<key>rank/new_chapter_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,965},{194,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,49}</string>
			</dict>
			<key>rank/noheart.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,965},{202,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,33}</string>
			</dict>
			<key>pngdata/game_stars/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,705},{109,104}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,104}</string>
			</dict>
			<key>element/red_hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,840},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/green_hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,705},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/blue_hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,705},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/yellow_hat.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,550},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>sign/for_free1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1},{366,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,32}</string>
			</dict>
			<key>sign/gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,528},{175,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,181}</string>
			</dict>
			<key>sign/surprise.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,965},{317,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,51}</string>
			</dict>
			<key>watchad/ongiftdes.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,965},{289,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,30}</string>
			</dict>
			<key>watchad/anniu_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,186},{340,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_34.png</string>
			<key>realTextureFileName</key>
			<string>csi_34.png</string>
			<key>size</key>
			<string>{1023,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>