<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guide/lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,487},{471,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{471,59}</string>
			</dict>
			<key>guide/lv10.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,438},{451,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{451,54}</string>
			</dict>
			<key>guide/lv12.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{444,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{444,25}</string>
			</dict>
			<key>guide/lv13.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,438},{388,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,60}</string>
			</dict>
			<key>guide/lv14.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,384},{438,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{438,59}</string>
			</dict>
			<key>guide/lv18.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,471},{368,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,59}</string>
			</dict>
			<key>guide/lv19.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{484,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,60}</string>
			</dict>
			<key>guide/lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,487},{448,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{448,26}</string>
			</dict>
			<key>guide/lv20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,323},{440,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,59}</string>
			</dict>
			<key>guide/lv24.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1},{468,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{468,93}</string>
			</dict>
			<key>guide/lv25.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,824},{436,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,59}</string>
			</dict>
			<key>guide/lv26.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,261},{410,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,60}</string>
			</dict>
			<key>guide/lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,384},{425,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,26}</string>
			</dict>
			<key>guide/lv33.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1},{466,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{466,88}</string>
			</dict>
			<key>guide/lv35.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1},{435,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{435,107}</string>
			</dict>
			<key>guide/lv4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{422,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,94}</string>
			</dict>
			<key>guide/lv5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{452,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,60}</string>
			</dict>
			<key>guide/lv50.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,925},{436,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,88}</string>
			</dict>
			<key>guide/lv69.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,469},{454,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{454,88}</string>
			</dict>
			<key>guide/lv7.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,261},{463,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{463,54}</string>
			</dict>
			<key>guide/lv8.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,885},{349,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,25}</string>
			</dict>
			<key>pngdata/jelly/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{616,258}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,308}</string>
			</dict>
			<key>rank/watch_heartt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,438},{477,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{477,57}</string>
			</dict>
			<key>choose_map/message_refusebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,412},{244,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,101}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_25.png</string>
			<key>realTextureFileName</key>
			<string>csi_25.png</string>
			<key>size</key>
			<string>{1001,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1001</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>