<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/choose4/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,199},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>pngdata/choose4/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,790},{42,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,76}</string>
			</dict>
			<key>pngdata/choose4/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,387},{156,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,101}</string>
			</dict>
			<key>pngdata/choose4/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,879},{64,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,53}</string>
			</dict>
			<key>pngdata/choose4/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,879},{171,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,54}</string>
			</dict>
			<key>pngdata/choose4/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,348},{177,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,252}</string>
			</dict>
			<key>pngdata/choose4/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,790},{120,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,89}</string>
			</dict>
			<key>pngdata/choose4/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,290},{43,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,74}</string>
			</dict>
			<key>pngdata/choose4/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,790},{172,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,125}</string>
			</dict>
			<key>pngdata/choose4/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,323},{172,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,123}</string>
			</dict>
			<key>pngdata/choose4/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,497},{172,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,123}</string>
			</dict>
			<key>rank/bg_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,182},{178,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,178}</string>
			</dict>
			<key>rank/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,683},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>rank/down_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,95},{129,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,102}</string>
			</dict>
			<key>rank/rank_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,951},{292,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,45}</string>
			</dict>
			<key>rank/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>rank/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,145},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>rank/up_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,124},{129,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,97}</string>
			</dict>
			<key>pngdata/choose3/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,690},{325,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,181}</string>
			</dict>
			<key>pngdata/choose3/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,348},{238,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,342}</string>
			</dict>
			<key>rank/lose_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,933},{407,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{407,73}</string>
			</dict>
			<key>pngdata/choose1/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,671},{100,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,123}</string>
			</dict>
			<key>pngdata/choose3/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,948},{117,66}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,70}</string>
			</dict>
			<key>pngdata/choose3/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1},{82,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>pngdata/choose3/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,203},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,88}</string>
			</dict>
			<key>pngdata/choose1/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,998},{47,21}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,26}</string>
			</dict>
			<key>pngdata/choose1/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,335},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>pngdata/choose2/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1017},{3,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,71}</string>
			</dict>
			<key>pngdata/choose2/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,335},{41,36}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pngdata/choose2/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,307},{47,39}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pngdata/choose2/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,255},{49,41}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pngdata/choose2/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,255},{50,43}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pngdata/choose2/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,306},{50,40}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pngdata/choose5/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,690},{198,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,261}</string>
			</dict>
			<key>pngdata/choose5/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,348},{103,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,107}</string>
			</dict>
			<key>pngdata/choose5/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1},{92,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,153}</string>
			</dict>
			<key>pngdata/choose5/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,790},{156,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,140}</string>
			</dict>
			<key>pngdata/choose5/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{252,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,347}</string>
			</dict>
			<key>decorate/good3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,600},{383,81}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,82}</string>
			</dict>
			<key>effect/fly_pudiding/bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1},{186,179}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>invite/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1017},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>effect/hammer/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1},{128,121}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/ice_pudding/grow_up10.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,514},{130,128}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,545},{130,128}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gift/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,362},{150,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,157}</string>
			</dict>
			<key>task/task_reward_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,683},{192,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,194}</string>
			</dict>
			<key>lottery/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,73},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_20.png</string>
			<key>realTextureFileName</key>
			<string>csi_20.png</string>
			<key>size</key>
			<string>{1024,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>