<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lottery/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{590,590}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{590,590}</string>
			</dict>
			<key>lottery/tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,593},{203,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,200}</string>
			</dict>
			<key>result/gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,924},{96,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,31}</string>
			</dict>
			<key>result/go_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,845},{143,77}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,78}</string>
			</dict>
			<key>result/home_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,845},{143,77}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,78}</string>
			</dict>
			<key>result/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,962},{148,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,36}</string>
			</dict>
			<key>result/lose_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,674},{144,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,133}</string>
			</dict>
			<key>effect/fly_pudiding/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,798},{196,189}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/tail8.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,959},{64,136}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/ice_pudding/grow_up11.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,809},{130,127}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up9.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,479},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/merge/merge11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,593},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/merge/merge12.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,593},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/merge/merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1},{186,193}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>game/result_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,512},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>game/result_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,962},{36,204}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,256}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y6.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,180},{156,172}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y5.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,189},{143,155}}</string>
				<key>offset</key>
				<string>{-2,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y4.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,338},{178,139}}</string>
				<key>offset</key>
				<string>{2,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p9.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1},{188,177}}</string>
				<key>offset</key>
				<string>{-4,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p6.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,338},{156,172}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>choose_map/message_openbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,845},{338,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,115}</string>
			</dict>
			<key>choose_map/messagedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,924},{146,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_4.png</string>
			<key>realTextureFileName</key>
			<string>csi_4.png</string>
			<key>size</key>
			<string>{1016,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>