<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>get_reward/fly_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{319,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,275}</string>
			</dict>
			<key>lottery/record.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,398},{246,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,47}</string>
			</dict>
			<key>lottery/spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,278},{184,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,77}</string>
			</dict>
			<key>lottery/diamond_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,464},{143,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,50}</string>
			</dict>
			<key>lottery/small_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,349}</string>
			</dict>
			<key>effect/broom/kill13.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1},{331,65}}</string>
				<key>offset</key>
				<string>{34,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>pngdata/brush/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,566},{88,114}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>invite/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,725},{179,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,179}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1},{261,200}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,352},{212,95}}</string>
				<key>offset</key>
				<string>{-27,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,465},{240,168}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,398},{236,181}}</string>
				<key>offset</key>
				<string>{-4,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,535},{218,188}}</string>
				<key>offset</key>
				<string>{8,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,203},{222,193}}</string>
				<key>offset</key>
				<string>{8,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,352},{227,181}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,278},{231,185}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,781},{233,151}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,550},{229,109}}</string>
				<key>offset</key>
				<string>{2,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,795},{211,150}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,635},{221,158}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,636},{228,164}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,334},{214,117}}</string>
				<key>offset</key>
				<string>{-3,-55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/cheese_pudding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,269},{40,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,646},{79,59}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,906},{94,72}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,682},{104,82}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,724},{112,89}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,609},{113,94}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,788},{98,97}}</string>
				<key>offset</key>
				<string>{8,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,887},{99,84}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/cheese_pudding/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,203},{64,33}}</string>
				<key>offset</key>
				<string>{20,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_3.png</string>
			<key>realTextureFileName</key>
			<string>csi_3.png</string>
			<key>size</key>
			<string>{1016,1015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>1015</integer>
		</dict>
	</dict>
</plist>