<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rank/more_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,237},{385,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,26}</string>
			</dict>
			<key>effect/broom/kill10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,944},{379,68}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/broom/kill11.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,944},{376,67}}</string>
				<key>offset</key>
				<string>{12,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/broom/kill12.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,799},{365,66}}</string>
				<key>offset</key>
				<string>{17,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>element/gift_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,0},{272,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,224}</string>
			</dict>
			<key>sign/sign_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,224},{179,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,179}</string>
			</dict>
			<key>pngdata/gift/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,18},{1,1}}</string>
				<key>offset</key>
				<string>{98,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,152}</string>
			</dict>
			<key>pngdata/gift/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,0},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>pngdata/gift/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,753},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>pngdata/gift/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,237},{203,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,157}</string>
			</dict>
			<key>pngdata/gift/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,932},{155,74}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,74}</string>
			</dict>
			<key>pngdata/gift/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,291},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>pngdata/gift/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,403},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>
			<key>pngdata/gift/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,678},{107,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,111}</string>
			</dict>
			<key>sign/get_power_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,224},{720,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,59}</string>
			</dict>
			<key>sign/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,434},{319,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,75}</string>
			</dict>
			<key>sign/rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,799},{140,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,116}</string>
			</dict>
			<key>rank/bg_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,0},{618,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{618,84}</string>
			</dict>
			<key>element/bomb_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,0},{237,237}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,288}</string>
			</dict>
			<key>result/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>
			<key>get_reward/color_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{413,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{413,291}</string>
			</dict>
			<key>rank/black3.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,865},{61,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>
			<key>rank/f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,773},{159,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,29}</string>
			</dict>
			<key>rank/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,622},{148,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,29}</string>
			</dict>
			<key>rank/icon_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,595},{65,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,62}</string>
			</dict>
			<key>rank/f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,920},{130,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,22}</string>
			</dict>
			<key>rank/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,920},{121,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,22}</string>
			</dict>
			<key>rank/global_des.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,224},{454,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{454,31}</string>
			</dict>
			<key>rank/good_des.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,291},{482,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,31}</string>
			</dict>
			<key>rank/star_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,865},{157,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,55}</string>
			</dict>
			<key>rank/stars.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,403},{113,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,25}</string>
			</dict>
			<key>rank/total.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,772},{116,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,25}</string>
			</dict>
			<key>rank/world_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,618},{314,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,33}</string>
			</dict>
			<key>pngdata/gift/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,500},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/gift/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,678},{86,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,90}</string>
			</dict>
			<key>sign/no_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,618},{223,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,181}</string>
			</dict>
			<key>sign/open.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,440},{177,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,176}</string>
			</dict>
			<key>sign/tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,403},{369,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{369,47}</string>
			</dict>
			<key>rank/new_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,291},{184,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,143}</string>
			</dict>
			<key>watchad/scalesprite4.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,932},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>heartrank/vs_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,865},{148,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_30.png</string>
			<key>realTextureFileName</key>
			<string>csi_30.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>