<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shop/item_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,667},{147,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,197}</string>
			</dict>
			<key>target/game_target_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,256}</string>
			</dict>
			<key>game/corner1.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,364},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>game/corner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,364},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>effect/effect1/item_choose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,873},{156,143}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>sign/time_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,567},{58,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,65}</string>
			</dict>
			<key>shop/diamond_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,190},{475,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{475,91}</string>
			</dict>
			<key>invite/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{436,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,66}</string>
			</dict>
			<key>invite/btbShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,421},{250,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,87}</string>
			</dict>
			<key>invite/tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{354,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,50}</string>
			</dict>
			<key>game/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{250,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,188}</string>
			</dict>
			<key>game/more_times_today.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{377,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,42}</string>
			</dict>
			<key>game/numbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,583},{64,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,80}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,380},{178,200}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n1.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,886},{78,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n2.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,866},{155,142}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n3.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,811},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,421},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n6.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,259},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n7.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,421},{160,159}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n8.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,190},{153,156}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n9.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,259},{117,112}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/rainbow_brush/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,510},{139,137}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>effect/rainbow_brush/bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,259},{139,137}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>sign/get_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,735},{319,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,83}</string>
			</dict>
			<key>sign/parachute1.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,667},{142,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,194}</string>
			</dict>
			<key>sign/parachute2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,729},{142,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,194}</string>
			</dict>
			<key>sign/for_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,820},{349,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,64}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red7.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,560},{167,187}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/hammer/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,891},{123,113}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,398},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rank/anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,973},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>effect/magic_stick/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,574},{86,89}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/chooose/light12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,886},{113,76}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>pngdata/icecream/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,345},{17,17}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>pngdata/icecream/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,583},{92,65}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,80}</string>
			</dict>
			<key>pngdata/icecream/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,583},{92,65}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,80}</string>
			</dict>
			<key>pngdata/icecream/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,510},{73,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,62}</string>
			</dict>
			<key>pngdata/icecream/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,667},{48,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,25}</string>
			</dict>
			<key>pngdata/icecream/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,345},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>
			<key>pngdata/icecream/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,345},{70,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,29}</string>
			</dict>
			<key>pngdata/icecream/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,819},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>
			<key>pngdata/icecream/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,510},{73,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,53}</string>
			</dict>
			<key>pngdata/icecream/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,973},{69,37}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,39}</string>
			</dict>
			<key>pngdata/icecream/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,729},{88,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,51}</string>
			</dict>
			<key>choose_map/messageicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,259},{144,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,130}</string>
			</dict>
			<key>choose_map/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,735},{261,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,63}</string>
			</dict>
			<key>choose_map/power.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,500},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,59}</string>
			</dict>
			<key>element/blue_bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,398},{56,41}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,42}</string>
			</dict>
			<key>element/blue_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,456},{41,51}}</string>
				<key>offset</key>
				<string>{17,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/blue_mouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,565},{69,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>element/blue_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,886},{80,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>element/blue_pudding_monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,583},{82,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,886},{74,81}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_10.png</string>
			<key>realTextureFileName</key>
			<string>csi_10.png</string>
			<key>size</key>
			<string>{1022,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>