<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/rainbow_brush/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,272},{121,115}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>effect/rainbow_brush/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{125,119}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>effect/rainbow_brush/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,497},{117,115}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,459},{66,54}}</string>
				<key>offset</key>
				<string>{3,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,867},{173,141}}</string>
				<key>offset</key>
				<string>{-1,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,521},{205,164}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,525},{228,181}}</string>
				<key>offset</key>
				<string>{-1,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,279},{244,191}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>effect/stone/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,279},{186,193}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/stone/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1},{183,167}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/stone/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,275},{151,153}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/stone/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,713},{139,149}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/stone/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,153},{119,132}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/stone/stand_by1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,186},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by2.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,411},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by3.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,411},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by4.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,395},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by5.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,234},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by6.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,616},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by7.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,481},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/stone/stand_by8.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,320},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>effect/winnower/grow_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,824},{41,73}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,515},{141,153}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up3.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,506},{138,151}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up4.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{149,150}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up5.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,865},{146,145}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up6.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,864},{139,136}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up7.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1},{121,117}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/winnower/grow_up8.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,864},{95,91}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/ice_pudding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,186},{104,87}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/ice_pudding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,124},{126,108}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/ice_pudding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,146},{136,124}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/ice_pudding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,273},{136,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,755},{168,120}}</string>
				<key>offset</key>
				<string>{2,24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p4.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,877},{178,139}}</string>
				<key>offset</key>
				<string>{2,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p5.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1},{143,155}}</string>
				<key>offset</key>
				<string>{-2,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/fly_pudiding/standby2.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,274},{125,149}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/fly_pudiding/standby4.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,146},{125,148}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/fly_pudiding/standby5.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,737},{126,149}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>choose_map/gray_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,670},{86,69}}</string>
				<key>offset</key>
				<string>{-3,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,140}</string>
			</dict>
			<key>game/gray1.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,567},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>game/gray2.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,653},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>shop/diamond_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,430},{89,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,74}</string>
			</dict>
			<key>choose_map/big_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,741},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>resurgence/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,670},{76,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,659},{63,55}}</string>
				<key>offset</key>
				<string>{3,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,659},{63,55}}</string>
				<key>offset</key>
				<string>{3,28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>rank/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,659},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>game/music_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,474},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>game/sound_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,474},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>choose_map/btnAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,474},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>choose_map/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,824},{43,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,38}</string>
			</dict>
			<key>choose_map/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,474},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>choose_map/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,430},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>choose_map/star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,468},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>choose_map/star5.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,824},{56,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,40}</string>
			</dict>
			<key>game/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,430},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>game/null_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,430},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>target/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,474},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>game/bluetitlebgleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,887},{276,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,124}</string>
			</dict>
			<key>game/not_enough.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,525},{360,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,116}</string>
			</dict>
			<key>element/light_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{276,276}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>rank/losedownleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,755},{264,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,67}</string>
			</dict>
			<key>rank/shenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,824},{29,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_17.png</string>
			<key>realTextureFileName</key>
			<string>csi_17.png</string>
			<key>size</key>
			<string>{1020,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>