<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/chocolate_pudding/chocolate1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,350},{170,111}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,421},{163,111}}</string>
				<key>offset</key>
				<string>{4,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,518},{109,71}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,463},{149,99}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,198},{177,121}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{195,138}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/color_pudding/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,534},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/color_pudding/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,636},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/color_pudding/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,658},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/color_pudding/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,686},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/color_pudding/line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,917},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line5.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,791},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line6.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line7.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/color_pudding/line8.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1},{60,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,600}</string>
			</dict>
			<key>effect/fly_pudiding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,665},{102,101}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,853},{174,168}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,176},{183,172}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{189,173}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,603},{194,179}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,791},{195,183}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,603},{196,186}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,564},{121,120}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/bucket/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,543},{120,123}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/bucket/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,534},{122,120}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>effect/bomb_pudding/standby1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,141},{138,145}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/bomb_pudding/standby2.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,281},{138,145}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/bomb_pudding/standby3.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1},{138,146}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/bomb_pudding/standby4.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,253},{137,146}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/bomb_pudding/standby5.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,377},{139,146}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/fly_pudiding/standby1.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,392},{126,149}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/merge/merge9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>pngdata/choose2/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,979},{50,43}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pngdata/choose2/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,979},{50,43}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_13.png</string>
			<key>realTextureFileName</key>
			<string>csi_13.png</string>
			<key>size</key>
			<string>{1010,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1010</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>