<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/broom/kill4.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,170},{388,69}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/broom/kill5.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,170},{393,69}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/broom/kill6.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,170},{388,69}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/broom/kill7.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,211},{387,69}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,599},{75,56}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{208,135}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{236,153}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,156},{64,42}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,560},{195,136}}</string>
				<key>offset</key>
				<string>{5,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1},{214,156}}</string>
				<key>offset</key>
				<string>{6,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{228,171}}</string>
				<key>offset</key>
				<string>{5,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,174},{54,37}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/broom/kill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,565},{168,61}}</string>
				<key>offset</key>
				<string>{-116,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,75}</string>
			</dict>
			<key>effect/magic_stick/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,735},{70,140}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/ice_pudding/grow_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,475},{130,122}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{130,126}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{130,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up4.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,886},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up5.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,332},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up6.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,332},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/ice_pudding/grow_up8.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,464},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,757},{159,101}}</string>
				<key>offset</key>
				<string>{2,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>effect/fly_pudiding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,156},{191,174}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/hammer/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,589},{129,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hammer/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,839},{129,123}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hammer/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,464},{129,123}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hammer/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,596},{129,122}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail1.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,877},{66,95}}</string>
				<key>offset</key>
				<string>{0,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail2.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,337},{78,142}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail3.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,766},{77,141}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail4.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,624},{78,140}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail5.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,337},{80,136}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail6.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,757},{80,140}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/fly_pudiding/tail7.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,481},{78,141}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>effect/hot_balloon/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,599},{101,98}}</string>
				<key>offset</key>
				<string>{3,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hot_balloon/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,757},{118,94}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hot_balloon/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,757},{126,89}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hot_balloon/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,422},{136,86}}</string>
				<key>offset</key>
				<string>{-4,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/hot_balloon/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,618},{136,79}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/lose/leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,970},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>
			<key>pngdata/lose/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,174},{179,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,182}</string>
			</dict>
			<key>effect/color_pudding/standby1.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,600},{145,142}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/standby2.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,744},{146,140}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/standby3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,860},{144,140}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/standby4.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,877},{143,140}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/standby5.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,860},{144,140}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/fly_pudiding/standby3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,886},{125,147}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y7.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1},{167,187}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>get_reward/btnlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,159},{177,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,176}</string>
			</dict>
			<key>get_reward/targetget.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,211},{209,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,77}</string>
			</dict>
			<key>effect/chooose/light11.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,909},{113,76}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_12.png</string>
			<key>realTextureFileName</key>
			<string>csi_12.png</string>
			<key>size</key>
			<string>{1018,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>