<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>choose_map/gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,881},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>choose_map/goubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,971},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>choose_map/invitedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,480},{389,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{389,38}</string>
			</dict>
			<key>fnt/fnttype25_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,706},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>fnt/fnttype25_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,236},{16,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,33}</string>
			</dict>
			<key>fnt/fnttype25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,940},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>fnt/fnttype25_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,749},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>fnt/fnttype25_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,905},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,33}</string>
			</dict>
			<key>fnt/fnttype25_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,639},{22,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,33}</string>
			</dict>
			<key>fnt/fnttype25_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,636},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>
			<key>fnt/fnttype25_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,673},{22,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,33}</string>
			</dict>
			<key>fnt/fnttype25_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,749},{23,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,33}</string>
			</dict>
			<key>fnt/fnttype25_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,671},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>
			<key>result/continuedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,550},{231,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,34}</string>
			</dict>
			<key>result/five_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,660},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>result/gembtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,127},{334,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,107}</string>
			</dict>
			<key>result/invitebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,258},{334,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,108}</string>
			</dict>
			<key>result/invitedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,783},{117,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,34}</string>
			</dict>
			<key>result/inviteicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,578},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>result/watchdes.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,971},{129,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,32}</string>
			</dict>
			<key>result/watchicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,660},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>result/five_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{333,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,255}</string>
			</dict>
			<key>element/bucket.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,258},{189,194}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>element/winnower_action.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,777},{235,241}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>result/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,749},{227,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,99}</string>
			</dict>
			<key>result/diamondicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,337},{180,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,142}</string>
			</dict>
			<key>result/hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,905},{74,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,64}</string>
			</dict>
			<key>result/homedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,741},{162,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,43}</string>
			</dict>
			<key>result/nexdes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,971},{145,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,45}</string>
			</dict>
			<key>result/winupbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1},{635,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,124}</string>
			</dict>
			<key>choose_map/claimdes.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,971},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>choose_map/heart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,480},{266,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,267}</string>
			</dict>
			<key>choose_map/senddes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,454},{314,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,23}</string>
			</dict>
			<key>choose_map/sendtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1},{477,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{477,39}</string>
			</dict>
			<key>choose_map/iconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,442},{134,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,144}</string>
			</dict>
			<key>heartrank/arrowdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,871},{27,22}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,23}</string>
			</dict>
			<key>heartrank/arrowup.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,942},{29,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,23}</string>
			</dict>
			<key>heartrank/friends_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,337},{145,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,27}</string>
			</dict>
			<key>heartrank/friends_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,337},{134,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,22}</string>
			</dict>
			<key>heartrank/headicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,646},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>heartrank/invitedes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,776},{103,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,38}</string>
			</dict>
			<key>heartrank/invitedes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,235},{301,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,38}</string>
			</dict>
			<key>heartrank/lives_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,206},{95,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>heartrank/lives_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,550},{87,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,22}</string>
			</dict>
			<key>heartrank/page1.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,366},{210,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,120}</string>
			</dict>
			<key>heartrank/page2.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,565},{210,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,120}</string>
			</dict>
			<key>heartrank/rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,749},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>heartrank/rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,749},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>heartrank/rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,749},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>heartrank/rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,749},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>heartrank/rank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,749},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>heartrank/rankbtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,703},{266,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,67}</string>
			</dict>
			<key>heartrank/rankbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,236},{356,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,99}</string>
			</dict>
			<key>heartrank/rankbtn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,481},{166,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,67}</string>
			</dict>
			<key>heartrank/rankbtn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,774},{166,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,67}</string>
			</dict>
			<key>heartrank/rankbtn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,538},{148,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,56}</string>
			</dict>
			<key>heartrank/request.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,971},{113,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,38}</string>
			</dict>
			<key>heartrank/send.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,565},{69,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,22}</string>
			</dict>
			<key>heartrank/showless.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,206},{169,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,24}</string>
			</dict>
			<key>heartrank/star_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,728},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>heartrank/star_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,236},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>heartrank/animal.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,773},{116,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,146}</string>
			</dict>
			<key>heartrank/starbg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,971},{140,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>heartrank/starbg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,473},{90,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,22}</string>
			</dict>
			<key>heartrank/diamondicon_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,942},{28,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,24}</string>
			</dict>
			<key>heartrank/requesthearticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,900},{26,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,22}</string>
			</dict>
			<key>heartrank/sendhearticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,942},{27,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,23}</string>
			</dict>
			<key>heartrank/sendhearticon_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,749},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>
			<key>heartrank/diamondicon_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,769},{70,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,48}</string>
			</dict>
			<key>rank/next_gray_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,127},{297,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,77}</string>
			</dict>
			<key>choose_map/invitedes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,206},{495,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{495,29}</string>
			</dict>
			<key>fnt/fnttype26_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,928},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>fnt/fnttype26_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,236},{16,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,26}</string>
			</dict>
			<key>fnt/fnttype26_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,956},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>fnt/fnttype26_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,833},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>fnt/fnttype26_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,984},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>fnt/fnttype26_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,861},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>fnt/fnttype26_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,707},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>fnt/fnttype26_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,749},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>fnt/fnttype26_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,777},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>fnt/fnttype26_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,805},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>rank/no_heart_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,368},{357,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,72}</string>
			</dict>
			<key>watchad/invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,442},{216,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,64}</string>
			</dict>
			<key>lottery/invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,871},{148,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_9.png</string>
			<key>realTextureFileName</key>
			<string>csi_9.png</string>
			<key>size</key>
			<string>{1024,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>