<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/heart/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,297},{113,109}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>game/max.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1},{74,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,23}</string>
			</dict>
			<key>result/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,339},{286,71}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,80}</string>
			</dict>
			<key>game/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,144},{66,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,18}</string>
			</dict>
			<key>game/lottery_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,408},{227,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,63}</string>
			</dict>
			<key>lottery/free.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,77},{65,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,21}</string>
			</dict>
			<key>game/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,212},{85,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,10}</string>
			</dict>
			<key>result/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,408},{143,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,84}</string>
			</dict>
			<key>target/lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,330},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>guide/rect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{171,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,85}</string>
			</dict>
			<key>guide/rect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,824},{169,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,253}</string>
			</dict>
			<key>guide/rect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,408},{85,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,167}</string>
			</dict>
			<key>guide/rect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,627},{254,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,253}</string>
			</dict>
			<key>guide/rect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,651},{422,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,171}</string>
			</dict>
			<key>guide/rect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1},{85,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,336}</string>
			</dict>
			<key>guide/rect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,160},{131,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,132}</string>
			</dict>
			<key>guide/rect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,160},{145,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,172}</string>
			</dict>
			<key>pngdata/heart/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,334},{71,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,65}</string>
			</dict>
			<key>rank/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,651},{127,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,46}</string>
			</dict>
			<key>rank/cup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,847},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>rank/cup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,334},{55,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,61}</string>
			</dict>
			<key>rank/cup3.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,160},{49,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>sign/black1.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,160},{135,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,134}</string>
			</dict>
			<key>sign/black2.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1},{496,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,188}</string>
			</dict>
			<key>sign/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,292},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>sign/get1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,499},{277,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,118}</string>
			</dict>
			<key>sign/get2.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,499},{277,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,118}</string>
			</dict>
			<key>rank/good.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,911},{108,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,63}</string>
			</dict>
			<key>rank/rank_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{716,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{716,158}</string>
			</dict>
			<key>element/color_pudding_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,776},{252,233}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,288}</string>
			</dict>
			<key>element/fly_pudding_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,160},{156,246}}</string>
				<key>offset</key>
				<string>{3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,288}</string>
			</dict>
			<key>pngdata/choose3/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,619},{127,155}}</string>
				<key>offset</key>
				<string>{7,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,177}</string>
			</dict>
			<key>pngdata/choose3/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,882},{130,150}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,187}</string>
			</dict>
			<key>pngdata/choose3/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,499},{109,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,175}</string>
			</dict>
			<key>pngdata/choose3/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,495},{146,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,174}</string>
			</dict>
			<key>pngdata/game_stars/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,882},{131,126}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,126}</string>
			</dict>
			<key>pngdata/game_stars/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,824},{162,156}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,176}</string>
			</dict>
			<key>pngdata/game_stars/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,294},{82,88}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,100}</string>
			</dict>
			<key>pngdata/choose5/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,368},{53,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,43}</string>
			</dict>
			<key>pngdata/choose5/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,245},{45,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,55}</string>
			</dict>
			<key>pngdata/choose5/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,211},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>pngdata/choose5/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,520},{51,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,37}</string>
			</dict>
			<key>pngdata/choose5/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,573},{39,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>pngdata/choose5/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,423},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>pngdata/choose5/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,472},{46,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,41}</string>
			</dict>
			<key>pngdata/choose5/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,334},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>pngdata/choose5/png30.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,780},{65,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,61}</string>
			</dict>
			<key>pngdata/choose5/png31.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,620},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>pngdata/choose5/png32.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,299},{29,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>pngdata/game_wins/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,160},{83,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>effect/stone/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,671},{100,124}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/stone/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,294},{75,100}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/game_wins/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{18,18}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_29.png</string>
			<key>realTextureFileName</key>
			<string>csi_29.png</string>
			<key>size</key>
			<string>{1024,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>